
/* ==== Scroll down to find where to put your styles :) ==== */

/*  HTML5 ✰ Boilerplate  */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: Calibri;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; } 
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol {list-style: none; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: middle; }

sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; }
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }

::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #FF5E99; }

button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }

body, select, input, textarea {  color: #444; }
h1, h2, h3, h4, h5, h6 { font-weight: bold; }
a, a:active, a:visited { color: #607890; }
a:hover { color: #036; }

body{
    font-family:Helvetica, Helvetica Neue, Arial, sans-serif;
    background: #f8f7ec url(../img/top_bg.jpg) no-repeat center top;
    width: 100%;display: table;}
.wrapper {margin:0 auto;width:1000px;position: relative;}
.bot_bg {background:#f8f7ec url(../img/bot_bg.jpg) no-repeat ;width: 100%; height: 257px;float: left;margin-top: -40px;border-bottom: 20px solid #3b2314;}
.loginbl {float: right; height: 25px;margin-right: 20px;width: 455px;}
.login {width: 198px; height: 25px; background: #3B2314;border-right: 2px solid #603813;float: left;margin: 0;}
.login a{color: #F69220;text-decoration: none; font-size: 12px; background: url(../img/sprite2.png) no-repeat  0 -136px;margin: 5px 0 0 11px;padding-left: 30px;display: block; }
.visbcart {float: right;position: relative;z-index: 2;}
#cart {width: 180px; height: 25px; background: #3B2314; float: left;}
#cart a {color: #F69220;text-decoration: none; font-size: 12px; background: url(../img/sprite2.png) no-repeat  0 0;margin:4px 0 0 14px;padding-left: 41px;display: block;}
.check {width:75px; height: 25px; background: #F87B00; float: left;}
.check a{font-weight: bold; color: white;text-decoration: none; font-family: Calibri;display: block; margin: 5px 0 0 7px;}
.fullorder{width: 255px;  background: #3B2314;float: left;position: relative;z-index: 2;}
.fullorder .title {width: 100%;height: 25px; background: #F87B00;}
.fullorder .title a{text-decoration: none; color: white;font-weight: bold;display: block; padding: 5px 0 0 15px;font-size: 12px; font-family: Calibri;}
.prodcat {float: left;margin-top: 6px;}
.prodcat .name {color: #8A5D3B;float: left;margin:0 24px 0 12px ;width: 90px}
.prodcat .pric {color: #8A5D3B;float: left;width: 59px}
.prodcat .amount {color: #8A5D3B;float: left;width: 50px}
.listprod {float: left;border-bottom:1px solid #F87B00 ;}
.listprod .name {width: 90px; float: left;color: #C3996B; font-size: 14px;margin: 12px 24px 12px 12px;}
.listprod .pric {width: 50px;float: left; color: #F69220;font-size: 14px;margin: 19px 0;}
.listprod .amount {width: 70px;float: left;font-size: 14px;margin: 15px 0;margin-left: 8px;}
.listprod .amount input{width:37px; height: 24px;border: none; background: #c49470;text-align: center; font-weight: bold;float: left; font-size: 12px; color: #3b2314; }
a.cls {background: url(../img/sprite2.png) no-repeat 0 -200px; width: 8px ; height: 8px;display: block;float: left;margin: 8px 0 0 10px;}
header {float: left;margin-top: 35px;}
.logo{width:350px ;height: 120px;left: 36px;top:65px;background:white url('../img/sprite2.png') no-repeat -1026px -1168px;position:absolute;}
h1#title{color: #3B2314;font: 42px Arial;padding:25px 0 0 83px;float: left;}
h1#titlec{color: #F69220;font: 42px Arial;float: left;padding-top: 25px;}
.logo p{color: #3B2314;width: 100%;float: left;margin-left: 83px;font-size: 20px;}
.search{float: right;width: 249px;background: white;height: 21px;padding: 3px;position:absolute;right: 20px; top: 133px;}
.search input[type=text]{border: 1px solid #C49470;width: 160px;color:#C49470;padding-left: 11px;margin-right: 17px;}
.search input[type=submit]{border: none; background: #fff;cursor: pointer;color: #F69220;}
.slieder {width: 980px;height: 300px; border: 10px solid #fff; border-bottom: none; background: #00ADEE;float: left;margin-top:90px;}
.slieder h2 {font: 32px Calibri ;margin: 63px 0 0 35px;color: #fff;}
.slieder h3 {font: 24px Calibri ;margin-left: 35px;color: #fff;}
.nav {float: left;height:85px;width: 1000px;padding-top:5px;background: #FBB71B;
background: -o-linear-gradient(#fff, #FBB71B);
 background: -webkit-linear-gradient(#fff, #FBB71B);
 background: -moz-linear-gradient(100% 100% 90deg, #FBB71B, #fff);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#FBB71B');
}
.dogface {height: 68px;width: 60px;background: url(../img/sprite2.png) -1059px -949px no-repeat;float: left;}

.pagpas {float: left;width: 1000px; height: 16px;}
.pagnmps {float: left;margin-left: 29px;}
.pagnmps span {color: #754C28;font-family: Calibri; font-size: 12px;}
.pagnmps span.curent {color: #3B2314;}
.ansic {float: right;margin-right: 20px;}
.ansic select {height: 16px; border: 1px solid #754C28; color: #754C28;font-size: 12px; font-family: Calibri;padding: 0;background: transparent;}
/*begin menu blokc*/
.halsbänder {background: url(../img/sprite2.png) no-repeat -1044px -226px;width: 58px;height: 54px;margin: -54px 0 0 15px;display: none;}
.regensachen{background: url(../img/sprite2.png) no-repeat -1044px -330px;width: 58px;height: 54px;margin: -54px 0 0 20px;display: none;}
.transport {background: url(../img/sprite2.png) no-repeat -1044px -434px;width: 58px;height: 54px;margin: -54px 0 0 11px;display: none;}
.hundegeschirre{background: url(../img/sprite2.png) no-repeat -1044px -538px;width: 58px;height: 54px;margin: -54px 0 0 25px;display: none;}
.bekleidung{background: url(../img/sprite2.png) no-repeat -1044px -642px;width: 58px;height: 54px;margin: -54px 0 0 12px;display: none;}
.halstücher{background: url(../img/sprite2.png) no-repeat -1044px -746px;width: 58px;height: 54px;margin: -54px 0 0 13px;display: none;}
.hundebetten{background: url(../img/sprite2.png) no-repeat -1044px -850px;width: 58px;height: 54px;margin: -54px 0 0 20px;display: none;}

/*drop down menu*/

.nav ul{float: left;margin-top: 49px;list-style: none;display: inline;position: relative; z-index: 10;}
.nav ul li {float: left;margin: 0 2px;white-space: nowrap;display: inline;}
.nav ul li a{font-size:15px ;text-decoration: none;display: block;padding: 5px 11px 5px 8px;color: #3B2314;white-space: nowrap;}
.nav ul li.curent a {background: #3B2314;color: #F69220; font-weight: bold;}
.nav ul li.curent div{display: block !important;}
.nav ul li.curent ul li a{font-weight: normal;}
.nav ul li:hover a{background: #3B2314; color: #F69220;}
.nav ul li:hover ul.scmenu {display: block !important;}
.nav ul li:hover div{display: block !important;}

.nav ul li ul {position:absolute;display: none;margin: 0;z-index: 1;}
.nav ul li ul li {margin: 0; float: none; white-space: nowrap;position: relative; z-index: 1;}
.nav ul li ul li a:hover{background: #F69220; color: #3B2314;}
.nav ul li ul li a{background: #3B2314;color:#F69220;}

/*end menu*/
/*select block*/
.select {position: absolute;background: url(../img/sprite2.png) no-repeat  -1044px -1061px;width: 152px;height: 20px;font-size: 15px;overflow: hidden;
color: #F69220;padding: 1px 0 0 5px;font-weight: bold;}


.selectbox {float: left;margin: 54px 40px 0 -35px;}

select.styled {background: #3B2314; color: #F69220;overflow: hidden;font-weight:bold;height: 19px;font-size: 14px;}
/*select end*/
/*content*/
#content {margin: 10px 20px 0 5px;float: left;}
.content {float: left; width: 960px; margin: 30px 20px 0 20px;min-height: 550px;}
.product {position: relative;float: left; width: 310px; height: 252px;margin:10px 15px 0 0;overflow: hidden; }
.infopod {float: left; width: 310px; height: 10px;margin:0 15px 0 0; background:url(../img/sprite2.png) -772px -1318px no-repeat; }
.prod_wrap {float: left; width: 310px; height: 262px;margin: 10px 5px 0 5px;}
.prev {float: left; width: 298px; height: 198px; border: 1px solid #C3996B;}
.info {float:left; width: 300px;position: relative; background: #3B2314;padding-bottom: 8px;}
.info p{color: #C49470;font: 18px Calibri ;margin:5px 0 3px 11px; width:140px;float:left;}
.price {padding-top: 3px;text-align:center;background: #F69220; float: right; width:127px ; height:30px ;margin: -6px -10px 0 0;}
.price strong{color: #3B2314; font: 21px Calibri;}
.price small{color: #3B2314; font: 14px Calibri;}
#desitem{float: left; width: 100%;margin: 14px 0 18px 0 ;}
#desitem p {width: 225px; font-size: 14px; font-family: Calibri;}
.loginza {float: left;padding: 0 10px;margin-bottom: 8px;}
.loginza a{color: #F69220; text-decoration: none;font-family: Calibri;font-size:14px ;}
.loginza a:hover {color: #F7BC15;}
.loginza a.fnc {background: url(../img/sprite2.png) 0 -326px no-repeat;padding-left: 17px;}
.loginza a.like {background: url(../img/sprite2.png) 0 -392px no-repeat;padding-left: 21px;}
.loginza a.mid {padding: 0 30px;}
.conthd {float: left;}

/*end content*/
.footersc {float: left; width:100%; height:400px;padding-top:23px;background: #3B2314;border-top: 2px solid #c3996b;}
hr {background: #C3996B;}
nav.footsc {margin-left:22px ; }
nav.footsc a{color: #F69220 !important; font-size: 14px; text-decoration: none;float: left;}
i {width: 1px;height:12px ;background: #C49470;margin: 3px 10px 0 10px;float: left;}
.contact{float: left; margin: 64px 0 0 22px; color: #C49470;background:url(../img/sprite2.png) no-repeat -377px -1653px;height: 262px;}
h4 {font-size: 21px ; font-weight: bold;}
.contact p{font: 14px Calibri;}
.contact a{color: #F69220;text-decoration: none;}
.cosial {float: left; width:255px ;margin: 80px 0 0 84px;}
.cosial p{color: #C49470;font: 14px Calibri;margin-top: 11px;float: left;}
.cosial a.fc {background: url(../img/sprite2.png) no-repeat -1044px 0;width: 13px;height: 27px;display: block;float: left;margin: 0 26px 0 24px;}
.cosial a.tw {background: url(../img/sprite2.png) no-repeat -1044px -76px;width: 20px;height: 26px;display: block;float: left;}
.cosial a.rs {background: url(../img/sprite2.png) no-repeat -1044px -151px;width: 26px;height: 27px;display: block;float: left;margin: 0 32px 0 24px;}
nav.catlist{float: left;width: 125px;margin-top: 64px;}
nav.catlist h3 {margin: 0; color: #C49470; font-size: 21px;font-weight: bold;}
nav.catlist a{color: #F69220; font-size: 13px;text-decoration: none;line-height: 1.6;}
footer.cprt {width: 100%; clear: both;text-align: center;}
footer.cprt p{color: #C49470; font-size: 14px;padding-top: 8px;background: #603813;height: 26px;}

/*chekout page*/
.datanav{background: #3B2314; height: 34px; float: left; width: 100%;}
.datanav ul {list-style: none;float: left;margin: 5px 0 0 0;}
.datanav ul li {float: left;}
.datanav ul li a {text-decoration: none;color: #F87B00; font-size: 18px; display: block;}
.datanav ul li a.shopback{background: url(../img/sprite2.png) no-repeat 0 -457px;padding-left: 40px;margin: 0 62px 0 14px;}
.datanav ul li a.adres{background: url(../img/sprite2.png) no-repeat 0 -531px;padding-left: 38px;margin: 0 56px 0 0;}
.datanav ul li a.payship{background: url(../img/sprite2.png) no-repeat 0 -604px;padding-left: 45px;margin: 0 72px 0 0;}
.datanav ul li a.app{background: url(../img/sprite2.png) no-repeat 0 -675px;padding-left: 25px;margin: 0; }
.boxdata {float: left; width: 100%;padding-top:12px ;}

.lgnsa {float: left; width: 100%; border-bottom: 1px solid #F87B00;margin-top:20px ;padding-bottom: 20px}
.lgnsa p{color: #3B2314;font-size: 14px;width: 100%;float: left; }
.lgnsa span {color: #F87B00;}
.lgnsa h4{width:350px;font-size: 36px; color: #603813; background: url(../img/sprite2.png) no-repeat 0 -730px;padding-left: 53px;}

.lgnsa input{border: 1px solid #F87B00; width: 288px;height: 22px;margin: 7px 0 8px 0; background: transparent; color: #3B2314; padding-left: 10px;}
.lgnsa label {float:left;margin: 7px 0 8px 0;padding-top: 7px;color: #8A5D3B; font-size: 14px;}
.lgnsa input[type=submit]{background: #F87B00; height: 24px; color: white;font-weight: bold;width: 300px;float: right;}
.lgnsa select {border: 1px solid #F87B00; width: 300px;height: 26px;margin: 7px 0 8px 0; background: transparent; color: #3B2314; padding: 3px 0 3px 10px;display: block;}
.lgnsa input[type=checkbox]{float: none;width:16px;height:18px;margin:0;border: none;}
.lgnsa table {margin: 30px 0 20px 0; color: #8A5D3B; font-size: 14px; line-height: 1.5;float: left;}
.lgnsa form {float: left;margin: 20px 0 20px 0;}
.lgnsa table.order tr td {padding-right: 40px;padding-top: 3px;color: #8A5D3B;}

.lgnsa ul {float: left; width: 390px;margin-top: 15px;}
.lgnsa ul li {float: left; width: 390px;}
.lgnsa ul li span {width: 90px; display: block;float: left;margin-top: 10px;color: #8A5D3B; font-size: 14px;}
.lgnsa form.dbadres{width: 425px;float: left;margin: 10px 0 0 100px;}
.lgnsa form.dbadres label {width: 125px;}

 input.globsub {width:300px ;height:50px ;float: right;margin: 22px 37px 0 0;border: none;background: #F87B00 url(../img/sprite2.png) no-repeat 8px -1038px;color: white; font-size: 18px; font-weight: bold;font-family: Calibri;padding-left: 78px; }

/*Account page*/
.blockmn {float: left; width: 100%; border-bottom:1px solid #F87B00;padding-bottom: 35px;}
.userdt {width: 455px; background:#3B2314;float: right;height: 44px;margin-top: -44px;}
.userdt p {color: #A87C4F;font-size: 18px; background: url(../img/sprite2.png) no-repeat 0 -1648px;padding-left: 36px; float: left;margin:11px 0 0 20px;}
.userdt span {color: #F87B00;}
.userdt input[type=submit]{background: #F87B00;border: none; margin:11px 5px 0 15px; height: 24px; width: 95px;color: #fff;font-weight: bold;}
.blockmn h3 {font-size: 36px; color: #603813;margin: 0;float: left;width: 100%;}
.wr {float:left; width: 185px;margin: 15px 55px 0 0;}
.wr a{color: #F87B00;text-decoration: none;display: block;background: url(../img/sprite2.png) no-repeat;font-size: 14px;height: 50px; padding: 12px  0 0 55px;}
.blockmnf {float: left; width: 100%;padding-bottom: 35px;}
.blockmnf h3{font-size: 36px; color: #603813;margin: 0;float: left;width: 100%;}

.datanav h4 {float: left; display: block; color: #F87B00; font-family:Myriad Pro;font-size: 29px; font-weight: lighter;padding-left: 5px;}
.hwlog {float: right; }
.hwlog p {color: #A87C4F;font-size: 18px; background: url(../img/sprite2.png) no-repeat 0 -1648px;padding-left: 36px; float: left;margin-top: 5px;}
.hwlog span {color: #F87B00;}
.hwlog input[type=submit]{background: #F87B00;border: none; margin: 5px 5px 0 15px; height: 24px; width: 95px;color: #fff;font-weight: bold;}
.accdata {float: left; width: 100%; color: #3B2314;margin-top: 15px;}
.accdata h3 {font-size: 36px; color: #603813;float: left; margin:0;width: 100%;}
.accdata input[type=text]{border: 1px solid #F87B00; width: 288px;height: 22px;margin: 7px 0 8px 0; background: transparent; color: #3B2314; padding-left: 10px;font-size: 14px;}
.accdata input[type=password]{border: 1px solid #F87B00; width: 288px;height: 22px;margin: 7px 0 8px 0; background: transparent; color: #3B2314; padding-left: 10px;font-size: 14px;}
.accdata input[disabled] {background-color: #FCCA99;}
.accdata select {border: 1px solid #F87B00; width: 300px;height: 26px;margin: 7px 0 8px 0; background: transparent; color: #3B2314; padding: 3px 0 3px 10px;display: block;}

.accdata label { margin: 7px 0 8px 0;padding-top: 7px;color: #8A5D3B; font-size: 14px;}
.accdata table {font-size: 18px; color: #8A5D3B;}
.accdata  .lgbv {padding:15px 0 0 90px;height: 50px;background:url(../img/sprite2.png) no-repeat 0 -1721px ;font-size: 18px;}
.accdata  .lgbvpas {padding:15px 0 0 170px;height: 50px;background:url(../img/sprite2.png) no-repeat 0 -1821px;font-size: 18px;}
.accdata  .lgbvrec {padding:15px 0 0 190px;height: 50px;background:url(../img/sprite2.png) no-repeat 0 -1913px;font-size: 18px;}
.accdata  .lgbvrecs {padding:15px 0 0 190px;height: 50px;background:url(../img/sprite2.png) no-repeat -455px 0;font-size: 18px;}
.accdata ul {float: left;width: 400px;color: #8A5D3B; font-size: 14px;margin-bottom: 35px;}
.accdata ul li {float: left;}
.accdata ul li span {width: 90px; display: block;float: left;margin-top: 10px;}

.accdata input[type=submit]{background: #F87B00;border: none; margin-right: 45px; height: 24px; color: #fff;font-weight: bold;}

.accdata input.pcmail{background:url('../img/sprite2.png') no-repeat -195px -633px;}
.accdata input.pcvorn{background:url('../img/sprite2.png') no-repeat -185px -714px;}
.accdata input.pcnme{background:url('../img/sprite2.png') no-repeat -183px -782px;}
.accdata input.pcpss{background:url('../img/sprite2.png') no-repeat -182px -850px;}
.accdata input.pctlf{background:url('../img/sprite2.png') no-repeat -185px -918px;}
.accdata input.pcws{background:url('../img/sprite2.png') no-repeat  -183px -985px;}
.accdata input.pcpssd{background:url('../img/sprite2.png') no-repeat -181px -1053px;}
.accdata input.pcmaildlv{background:url('../img/sprite2.png') no-repeat -188px -1192px;}
.accdata input.pcvorndlv{background:url('../img/sprite2.png') no-repeat -186px -1259px;}
.accdata input.pcnmedlv{background:url('../img/sprite2.png') no-repeat -190px -1323px;}
.accdata input.pcpssdlv{background:url('../img/sprite2.png') no-repeat -185px -1392px;}
.accdata input.pctlfdlv{background:url('../img/sprite2.png') no-repeat -189px -1462px;}

.chopt {width: 322px; margin-bottom: 35px;line-height: 3;margin-right: 22%;float: left;}
.chopt input[type=checkbox]{float: left;margin-top: 15px;}
.chopt label {width: 132px;display: block;float: left;margin: 0 0 0 10px;padding: 0;}
.pshbtn {float: left;padding-right: 20%;}
.pshbtndel {width: 100%;float: left;}
input[type=submit].refdt{background-color: #C3996B;}
.pshbtn input[type=submit]{background: #F87B00;border: none; margin-right: 45px; height: 24px; color: #fff;font-weight: bold;}
.pshbtn input[type=submit].refdt{background-color: #C3996B;}
.adrdata {float: right;width: 400px;}
.adrdata h4 {padding-left: 100px; background: url('../img/sprite2.png') no-repeat 0 -1913px;font-size: 18px;color: #8A5D3B;height: 50px;font-weight: normal;}
.adrdata ul li {color: #8A5D3B; font-size: 14px;width: 100%;}
.adrdata ul {margin: 10px 0;}
.adrdata input[type=submit]{background: #F87B00;border: none; margin-right: 45px; height: 24px; color: #fff;font-weight: bold;}
.wradr {margin-top: 60px;}


ul.chndpss  {width: 470px;}
ul.chndpss  li span {width: 169px;}
ul.chndpdel {width: 490px;}
ul.chndpdel  li span {width: 189px;}
ul.chndpdelm {margin-top: 35px;width: 490px;}
ul.chndpdelm  li span {width: 189px;}
ul.chndpdelred {width: 490px; float: none;margin-top: 20px; display: none;}


.hlppss {float: right; width: 395px; margin: 0 25px 45px 0;}
.wrhlp {margin-top: 20px;float: left;}
.hlppss h4 {font-size: 18px; color: #8A5D3B;padding-left: 35px; background: url('../img/sprite2.png') no-repeat -455px -1124px;}
.hlppss p{color: #8A5D3B; font-size: 14px;padding:20px 0;}
.delivhbox {float: left;width: 100%;border-bottom: 1px solid #F87B00;padding-bottom: 25px;margin-top: 25px;}
.choisdel {float: right;width: 380px;}
.hdel {float: left;color: #8A5D3B;font-size: 18px;padding-right: 50px; background: url('../img/sprite2.png') no-repeat -220px -1522px;width: 209px;}
.dldel {float: left; background: url('../img/sprite2.png') no-repeat -455px -1589px;width: 14px; height: 14px;margin:5px 0 0 65px;}
.subdeld {float: left;margin-top:30px;}
.wrphd {float: left;width: 100%;display: none;}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
/*page acc5*/
.adrdatas {float: left; width: 380px;}
.adrdatas h4 {padding-left: 100px; background: url('../img/sprite2.png') no-repeat;font-size: 18px;color: #8A5D3B;height: 50px;font-weight: normal;}
.adrdatas ul li {color: #8A5D3B; font-size: 14px;width: 100%;}
.adrdatas ul {margin: 10px 0;}
.adrdatas input[type=submit]{background: #F87B00;border: none; margin-right: 45px; height: 24px; color: #fff;font-weight: bold;}
.adrdatas input[type=submit].greacc {background: #C3996B;margin-top: 15px; width: 100%;}
.adrdatass {margin-left: 120px;float: left; width: 380px;}
.adrdatass input[type=submit].greacc {background: #C3996B;margin-top: 15px; width: 100%;}
.adrdatass h4 {padding-left: 100px; background: url('../img/sprite2.png') no-repeat;font-size: 18px;color: #8A5D3B;height: 50px;font-weight: normal;}
.adrdatass ul li {color: #8A5D3B; font-size: 14px;width: 100%;}
.adrdatass ul {margin: 10px 0;}
.adrdatass input[type=submit]{background: #F87B00;border: none; margin-right: 45px; height: 24px; color: #fff;font-weight: bold;}
.seporpen {margin:15px 0;width: 100%; float: left;height: 84px; border-bottom:1px solid #F87B00;border-top: 1px solid #F87B00; background: url('../img/sprite2.png') no-repeat -1044px -1791px ; }
input[type=submit].frpen{font-size: 15px;font-weight: bold;padding: 17px 5px 17px 5px;height: 50px;margin: 15px 0 0 80px;}
.adresblock {float: left; width: 100%;}
.adresblock  h4 {font-size: 36px;color: #8A5D3B;font-weight: normal; margin: 0;}
.adreparam {margin-top:25px;float: left; width: 100%; border-bottom: 1px solid #F87B00; color: #8A5D3B;padding-bottom: 15px;}
.adreparam input[type=submit]{background: #F87B00;border: none; height: 24px; color: #fff;font-weight: bold;}
.adreparam dl {float: left; width: 100%;margin-bottom: 25px;}
.adreparam dl dt {float: left;}
.adreparam dl dt.name {width: 200px;}
.adreparam dl dt.adres {width: 105px; margin-right: 50px;}
.adreparam dl dt.deliv {width: 115px; }
.adreparam dl dt.btn1 {margin:0 120px 0 80px;}
.adreparam dl dt.btn2 {margin:0 ;}
.adreparam input[type=submit].greacc {background: #C3996B;}
.adreparam input[type=submit].greacc:disabled  {background: #D8D7D6;}
.wradr input[type=submit].greacc:disabled  {background: #D8D7D6;}

.applblock {float: left; width: 100%; margin-top:28px ;}
.applblock input[type=submit].greacc {background: #C3996B;}
.applblock .totop {float: right; color: #F87B00;font-weight: bold;font-size: 14px;margin-right: 67px; padding-right: 11px; background: url('../img/sprite2.png') no-repeat -975px -1901px;}
/*pagination*/
nav.pagenav {margin: 0 auto; width: 400px;margin-top: 180px;}
nav.pagenav a{text-decoration: none;color: #F69220; font-size: 18px;margin: 0 3px;}
nav.pagenav span {color: #3B2314; font-size: 18px;}
nav.pagenav input[type=text]{border: 1px solid #C49470; height:14px;width:34px; background: transparent;margin: -5px 5px 0 9px; color: #F69220; text-align: center;}


/*h4 icon position*/
h4.convert {background-position:0 -1913px;}
h4.post {background-position: -455px 0;}
a.base {background-position: 0 -1721px;}
a.mail{background-position: 0 -1821px;}
a.rech {background-position: 0 -1913px;}
a.lifer {background-position: -455px 0;}
a.offen{background-position: -455px -98px;}
a.alle {background-position: -455px -185px;}
a.arti{background-position: -455px -270px;}
a.frag{background-position: -455px -368px;}
a.zahl{background-position: -455px -450px;}
a.gesc{background-position: -455px -536px;}
/*Backet over*/
.backet {float: left; width: 100%; background: #3B2314 url(../img/xs99999995.png) no-repeat  24px 13px;padding-top:130px; height: 100%;}
.backet .wrbask {float: left; border-bottom: 1px solid #F87B00; width: 100%; color: #C3996B; font-size: 14px;padding: 16px 0 12px 0;}
.backet .ttlwr {color: #8A5D3B; font-size: 14px; border-bottom: 1px solid #F87B00; width: 100%;float: left;padding-bottom: 6px;}
.backet .tlname {width: 705px;float: left;padding-left: 10px;}
.backet .tlprc {width: 110px;float: left;}
.backet .tlprcc {width: 110px;float: left; color: #F69220;}
.backet .tlcoun {width: 85px;float: left;}
.backet .tldlt {float: left;width: 48px;}
.backet .tlcoun input{width:37px; height: 24px;border: none; background: #c49470;text-align: center; font-weight: bold;float: left; font-size: 12px; color: #3b2314; }
.cls{background: url(../img/sprite2.png) no-repeat 0 -200px; width: 8px ; height: 8px;display: block;float: left;margin: 8px 0 0 10px;}
.shiping {color:#C3996B;float: left; width: 100%; border-top: 1px solid #F87B00;margin-top: 3px;padding-top:20px ;}
.shiping  input[type=submit]{border: none; background: transparent url(../img/shiping.png) no-repeat; width:485px ; height:32px; float: left;}
.shiping span {margin: 10px 125px 0 10px;font-size: 14px; float: left;}
.shiping  .tlprcc {width: 110px;float: left; color: #F69220;margin-left: 50px;font-size: 14px;}
.total {float: left; width: 100%;margin-top: 20px;}
.total h4 {font-size:24px;color:#C3996B; font-weight: bold;margin-left: 10px; width: 705px;float: left;}
.total .tlprct {font-size: 24px; font-weight: bold; color: #F69220; float: left;}
.makord {float: left; width: 100%;height: 30px;margin-top: 15px;}
.makord  span {margin: 0 0 0 10px; font-size: 14px; font-weight: bold; color: #F69220;}
.makord input {float: right; border: none; height: 30px; color: white; font-size: 14px;font-weight:bold;}
.makord input.mko{background: #F87B00;}
.makord input.reload{background: #603813;}
/*style chekbox*/
.stlchek {margin:0 10px;width: 16px; height:18px ; background: url(../img/sprite2.png) no-repeat -1044px -1477px; position:relative;float: left;cursor: pointer;}
.active a {background-position:  0 -258px !important;}

/*product page*/
.nav_cat {float: left; width: 100%;}
.nav_cat a {text-decoration: none; font-size:18px; color: #F69220;}
.nav_cat a.prevprod{float: left;color: #F4BE89;} 
.nav_cat a.tocat{margin-left: 240px;} 
.nav_cat a.nextprod{float: right;margin-right: 2px;} 

.sldwr {float: left;width: 400px;margin-top: 12px;}
.slider{height: 452px;background: silver;width: 400px;float: left;}
.prddescr{float: left;width: 528px;min-height: 385px; border: 1px dashed #C3996B;border-bottom:none;padding:14px 0 0 30px;margin-top: 12px;}
.prddescr h2 {font-size: 36px; color: #603813;font-weight: normal;width: 320px;float: left;}
.prclbl {float: right; width: 151px;height: 86px;background:url(../img/sprite2.png)  -900px -1585px no-repeat;margin-right: -16px;}
.prclbl .cost{background: #3B2314;height: 60px;width: 145px;float: left;}
.prclbl .cost strong {font-size: 24px; font-weight: normal; color: #F69220; font-family: Verdana;display:block;margin: 11px 0 0 18px;}
.prclbl .cost p{font-size: 10px; font-family: Verdana; color: #C49470;display: block; margin-left: 11px;margin-top: 3px;}
.prclbl .cost a {color:#F69220;}
.prclbl .devl{float:left;background: #F69220; width: 145px;height: 26px;}
.prclbl .devl a{font-family: Verdana; font-size: 11px; color: #3B2314;text-decoration: none; margin: 7px 0 0 16px; display: block;}
.prdoption {float: left;width: 100%;margin-top: 19px;color: #754C28;font-size: 14px;}
.prdoption dl{float: left;width: 100%;}
.prdoption dl dt {float: left;width: 120px; height: 26px;margin-left: 11px;}
.prdoption dl dt.dtblc {background: #E5DDC7;}
.prdoption dl dt.dtblc .clrbloc {background: yellow;border: 2px solid white;width: 18px; height: 18px;margin: 2px 3px;float: left;}
.prdoption dl dt.dtblc p{display: block;margin: 5px 0 0 10px;float: left;}
.prdoption dl dt.dtblc input[type=text]{background: white; width: 48px; border: none;font-size: 14px;color: #754C28;text-align: center;height: 20px;margin-top: 2px;margin-right:2px; float: right;}
.prdoption dl dt.dtblc select {margin: 2px 0 0 10px;height: 22px;border: none;width: 104px;background: #E5DDC7;color: #754C28;}
.prdoption dl dt.hlpbock{background:url(../img/sprite2.png) no-repeat -990px -1645px;height: 34px;}
.prdoption dl dt.hlpbock p{background: #603813; height: 22px; width:110px; color: #F69220;padding: 5px 0 0 10px;}
.prodtxt {float: left;margin-top: 9px;line-height: 1.4;}
.prodtxt p {font-size: 14px; color: #3B2314;margin: 13px 0;}
.prodtxt span {color: #F69220;}
.prodtxt ul {list-style: square;width: 230px;float: left;margin-left: 15px;}
.prodtxt ul  {color: #A87C4F; font-size: 14px;}
.lckbloc {float: right; width: 100%;height: 50px;width: 558px;border:1px dashed #C3996B;margin-bottom: 20px;}
.lckbloc .wrlck {float:left;margin:12px 0 0 30px;}
.lckbloc .wrlck span{display: block;margin: 5px 0 0 15px;float: left; color: #784E23;}
.lckbloc .wrlck img{float: left;}
.samrpd {float: left; margin-top:15px; width: 400px;}
.samrpd h2{font-size: 36px; color: #603813;font-weight: normal;float: left;}
.samrpd ul{float: left; list-style: square;margin-left: 15px; line-height: 2;}
.samrpd ul li a {text-decoration: none; font-size: 16px; color: #F69220;}
.freebox {height: 438px; width: 100%;border:1px dashed #C3996B;float: left;margin: 26px 0 74px 0;}
/*login page*/
.loginwr{width: 100%;height: 100%;background: black;position:fixed; overflow:hidden;z-index: 33;top:0;left: 0;opacity:0.4; filter: alpha(opacity=50);-moz-opacity: 0.5;}
.lgbox {position: absolute;width: 600px;background: #3B2314; z-index: 34;left: 50%;margin-left: -300px;top: 50%;margin-top: -200px;}
.ttllg {float: left; width: 100%; border-bottom: 1px solid #F87B00;padding-bottom: 7px;}
.ttllg h4{font-size: 18px; color: #8A5D3B; font-weight: normal;display: block; float: left; margin: 10px 0 0 20px;}
.clslg {float: right; background:url(../img/sprite2.png) no-repeat -1633px -428px; width: 11px; height: 11px;margin: 15px 10px 0 0;}
.clslgf {float: right; background:url(../img/sprite2.png) no-repeat -1633px -428px; width: 11px; height: 11px;margin: 15px 10px 0 0;}
.dtdlg {float: left;width: 100%;border-bottom:1px solid #F87B00;}
.dtrblock {float: left; width: 304px; border-right: 1px dashed #F87B00;padding-left: 16px;padding-bottom: 10px;}
.dtrblock p {font-size:14px; color: #C3996B;float: left;margin-right: 17px;margin-top: 10px;}
.dtrblock form {float: left;margin-bottom: 25px;}
.dtrblock input[type=text] {font-size: 14px; color: #3B2314;margin-bottom: 13px; background: #C49470 url(../img/sprite2.png) no-repeat -1378px 5px; border: none;width: 250px;height: 24px;padding: 0 30px 0 5px;}
.dtrblock input[type=password]{font-size: 14px; color: #3B2314;background: #C49470 url(../img/sprite2.png) no-repeat -1376px -62px; border: none;width: 250px;height: 24px;padding: 0 30px 0 5px;}
.dtrblock input[type=checkbox] {float: left; margin-right: 8px;}
.dtrblock input[type=submit] {float: left;border: none;background: #F87B00;color: white;font-size: 14px; font-weight: bold;height: 24px;margin-top: 25px;}
.dtrblock a {float: left;color: #F87B00; text-decoration: none; font-size: 12px;margin: 0 5px;}
.reklmblc {float: left; width: 278px;background: url(../img/xs99999993.png) no-repeat 98px 38px; height: 224px;}
.reklmblc p {color: #8A5D3B;font-size: 14px;display: block; margin: 132px 0 0 47px;}
.reklmblc a {color: #F87B00; text-decoration: none;font-size: 14px;font-weight: bold;margin-left: 47px;}
.altrlg {float: left;width: 100%;}
.altrlg p{color: #8A5D3B; font-size: 14px;display: block; margin: 20px 0 24px 83px;}
.lgnz {float: left;margin-left: 50px; width: 100%;margin-bottom: 25px;}
.lgnz a{ width: 106px; height: 26px;display: block;float: left;margin: 0 15px;}
.lgnz a.twtr{background: url(../img/sprite2.png) no-repeat -1633px -200px;}
.lgnz a.conn{background: url(../img/sprite2.png) no-repeat -1633px -276px;}
.lgnz a.gogl{background: url(../img/sprite2.png) no-repeat -1633px -352px;}
.frgpsd {float: left;width: 100%;border-bottom: 1px solid #F87B00;display: none;}
.frgpsd h4{font-size: 18px; color: #8A5D3B; font-weight: normal;display: block; float: left; margin: 10px 0 0 20px;}
.frgpsd p{color: #C3996B; font-size: 14px;float: left;padding:6px 0 18px 20px;width: 95%;}
.frgpsd form {float: left;padding-bottom: 25px;}
.frgpsd input[type=text] {float: left;margin-left: 20px;font-size: 14px; color: #3B2314; background: #C49470 url(../img/sprite2.png) no-repeat -1374px -129px; border: none;width: 250px;height: 24px;padding:0 5px 0 35px;}
.frgpsd input[type=submit] {float: left;border: none;background: #F87B00;color: white;font-size: 14px; font-weight: bold;height: 24px;margin-left: 25px; float: left;}
/*media*/
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } 
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group;}
  tr, img { page-break-inside: avoid;}
  @page { margin: 0.5cm;}
  p, h2, h3 { orphans: 3; widows: 3;}
  h2, h3{ page-break-after: avoid;}
}*/